/* Phần này của Quỳnh nè */
.image-1 {
  border-radius: 15px;
  width: 270px;
}

.image-2 {
  border-radius: 15px;
  width: 270px;
}

.p {
  color: rgb(166, 171, 176);
}

.btn {
  border-radius: 5px;
  width: 80px;
  height: 30px;
  border: unset;
  color: rgb(75, 117, 224);
  background-color: rgb(220, 227, 249);

}

.pic {
  width: 20px;
  height: 25px;
  border-radius: 100%;
}

.bg-up.bg-img {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.head span {
  color: rgb(57, 119, 227);
}

.span-a {
  color: rgb(57, 119, 227);
  position: absolute;
  width: 20%;
  height: 20px;
  left: 450px;
  top: 312px;
  text-decoration-line: underline;

}

.events.head {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.head{
  display: flex;
  flex-direction: row;
}

.bg-up {
  display: inline-block;
}

.pic-a {
  position: relative;
}

.pic-a.zd-1 {
  z-index: 3;
}

.pic-a.zd-2 {
  z-index: 2;
  left: -7px;
}

.pic-a.zd-3 {
  z-index: 1;
  left: -14px;
}

.pic-zd {
  display: flex;
  flex-direction: row;

}

.bg-img .item .text span {
  font-size: 18px;
  font-weight: bold;
}

.img-b {
  margin-top: 15px;
}

.bg-up {
  display: flex;
  width: 55%;
  margin-right: 10px;
}

.bg-img {
  margin-right: 37px;
}

.pr{
margin-top: 5px;
/* Phần này của Huyền nè*/
}
* {
  font-family:Arial, Helvetica, sans-serif;
}
.song {
display: flex;
margin: 10px;
}
.img-music {
margin: 10px;
/* padding-left: 50; */
}
.bold-title
{
  font-weight: bold;
}
li{
  display: inline;
} 
.title-music {
width: 20%;
}
.iconA ul li{
  padding: 10px 3px 0px 8px;
  margin:5px;
}
.iconA ul{
  width: 100%;
}
.icon-color{
  color: #565554;
  font-size: 90%;
}
.song2
{
display: flex;
margin: 10px;  
}
.big-title{
  position: relative;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
}
.span-view{
  width:10%;
  height: 100%;
  padding:2% 0 0 10%;
  text-decoration-line: underline;
  color:dodgerblue
}
.big-title h1{
  width:70%;
  height: 100%;
}
.head{
  margin: 5px 0px 20px 2px;
}
.left-event
{width:50%;
}
.list-song1
{
  width:50%;
}
.middle-page
{
  display: flex;
}
.top-alb
{
  display: flex;
  box-sizing: border-box;
}
.list-first-song2
{width: 500px;
  height:200px;
}
.list-second-song2
{
  width: 500px;
  height:200px;
  padding: 0% 0 30% 30%;
}
.position-icon
{
  letter-spacing: 5px;
}
=======
/* Phần này của Trang */
.body, .body1{
  margin: 0;
  font-family:"Open Sans",sans-serif;
  font-size: 18px;
  font-weight: 15px;
  margin-top: 20px;
  text-align: left;
  width: 1000px;
}
.top-charts, .top-charts1{
width: 1000px;
padding: 0px;
margin: auto;
font-family: 'Courier New', Courier, monospace;
font-weight: 700;
font-size: 26px;
line-height: 1.25;
}
.cols{
/* float: left; */
/* box-sizing: border-box; */
display: inline-block;
/* text-align: center;  */
width: 100%;
margin: auto;
}
.cols1{
display: inline-block;
text-align: center; 
width: 100%;
/* padding: 10px; */
}
/* .infor-music, .infor-music1{
margin: 5px;
width: 16%;
margin: 1%;
} */
.infor-music{
position: relative;
width: 16%;
padding: 10px;
}
.infor-music1 {
width: 16%;
padding: 17px;
}
.music-image{
width: 160px;
border-radius: 10px;
text-align: center;
}
.music-image1{
width: 160px;
border-radius: 50%;
}
.music-name, .music-singer, .music-singer1{
font-size: 12px;
margin: 5px;
color: #8c9095;
}
.music-singer1{
font-size: 12px;
margin: 5px;
color: #323334;
}

.music-name{
font-weight: bolder;
color: black;
}
i{
position: absolute;
top: 20px;
left: 20px;
size: 50px;
}

.view-all{
text-align:right;
padding: 0 0 0.125rem;
font-weight: 600;
text-transform: uppercase;
border: none;
font-size: .8125rem;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
position: relative;
border-radius: 0;
color: #196eed;
}

.swiper-pagination{
position: relative;
width: 1000px;
text-align: center;
}
.swiper-pagination-bullet{
position: absolute;
display: inline-block;
text-align: center;
width: 27px;
height: 5px;
background-color: #196EED;
}
.swiper-pagination-bullet1{
position: absolute;
display: inline-block;
/* float: left; */
width: 27px;
height: 5px;
margin-left: 70px;
text-align: center;
background-color: #D1E2FB;
}

